html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 999; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;

}

/*
.cuadro {
  background-color: lightgray;
  height: calc(100% - 50px);
  width: 100%;
  padding-top: 50px;
  margin-bottom: 20px;
}
*/
.menu1 {
  background-color: grey;
  height: 100%;
  width: 100%;
}

.texto {
  font-size: 40px;
  text-align: center;
  color: #212529;
  padding-bottom: 5%;
  
}

h1 {
  font-size: 45px;
  text-align: center;
  padding-top: 5%;
}

.card {
  background-color: #4ba7f23b;
}

.card:hover {
  opacity: 0.8;
}

.odontologos {
  border-radius: 25px;
}

h6 {
  font-size: 17px;
  text-align: center;
  color: #212529;
  padding-bottom: 5%;
  font-weight: 300;
}


footer {
  font-size: 15px;
  background-color: #121111;
  text-align: center;
  padding: 1px 0;
  position: static;
  width: 100%;
  color: #fff;
  margin-top: auto;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-link {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
}

.social-link:hover {
  color: #000000;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

  
/*.slide img{
   border-radius: 10px;
    }
*/

.slider-title{
      font-size: 30px;
      text-shadow: 0.1em 0.1em 0.2em black;
    }

.slider-subtitle{
      font-size: 19px;
      text-shadow: 0.1em 0.1em 0.2em black;
    }


.contenedor-banner {
      position: relative;
    }

.contenedor-banner img {
      width: 100%;
      border-radius: 10px;
      opacity: 0.4;
    }

.contenedor-banner p {
      font-size: 2rem;
      color: white;
      text-shadow: 0.1em 0.1em 0.2em black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

.i-contacto {
  font-size: 30px;

}

.i-contacto li {
  list-style: none;
  display: inline-block;

}

.img-grupo {
  border-radius: 10px;
  opacity: 0.9;
  width: 800px;
 
}

.icono {
  border-radius: 30px;
  width: 150px;

}

.error {
  color: red;
  font-size: 13px;
}

.btn {
 color: white;
background-color: #4BD6F2;
border: none;
}

@media (max-width:600px) {
  .contenedor-banner p {
    font-size: 1.5rem;
  }
}

/* REFERENCIA  Paleta de colores: MAIN: #4864e6 SECUNDARIO: #F2F4FF ACENTO: #4BD6F2/